{% extends "tasks/main.html" %}

{% load static %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Bukhosi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown-1">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About Author</a>
        </li>
        </ul>
        
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="flaticon-twitter-logo"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="flaticon-facebook-letter-logo"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="flaticon-linkedin-logo"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="socicon-github"></i>
            </a>
        </li>
        </ul>
    </div>
</nav>

<!--begin::Portlet-->
<div class="container mt-5 mt-5" >
    <div class="kt-portlet ">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Todo List</h3>
                <button type="button" class="btn btn-danger btn-sm ml-4">
							Pending  <span class="badge badge-light">{{pending}}</span>
				</button>

                <button type="button" class="btn btn-success btn-sm ml-4">
							Complete  <span class="badge badge-light">{{complete}}</span>
				</button>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="kt-section">
                <form action="/" method="POST">
                    <div class="form-group">
                        {% csrf_token %}
                        <label>Add New Todo</label>
                        <div class="form-group m-0">
                            {{form.title}}
                            <button type="submit" class="btn btn-success btn-block mt-4">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

 <!--begin::Portlet-->
{% for task in tasks %}


<div class="container">
<div class="kt-portlet kt-portlet--collapsed kt-container " data-ktportlet="true" id="kt_portlet_tools_6">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            {% if task.complete == True %}
                <span class="kt-portlet__head-icon">
                    <i class="flaticon2-check-mark " style="color:#36a3f7"></i>
                </span>
                <strike style="color:black;">
                <h4 class="kt-portlet__head-title">
                    {{task}}                                    
                </h4>
                </strike>
                <span class="badge badge-success ml-4">completed</span>
            {% else %}

                <span class="kt-portlet__head-icon">
                    <i class="flaticon2-time" style="color:red"></i>
                </span>

                <h4 class="kt-portlet__head-title">
                    {{task}}                                    
                </h4>
                <span class="badge badge-danger ml-4">incomplete</span>
            {% endif %}
        </div>

        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-group">
                <div class="btn-group">
                    <button type="button" data-ktportlet-tool="toggle" class="btn btn-success">
                        <span class="kt-portlet__head-icon">
                            <i class="flaticon2-rectangular kt-label-font-color-0"></i>
                        </span>
                    </button>
                    <button type="button" class="btn btn-success btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'update_task' task.id %}">Update</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'delete' task.id %}" >Delete</a>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="kt-portlet__content">      
                <a class="btn btn-success btn-sm mt-2" href="{% url 'update_task' task.id %}">Add Description<i class="flaticon2-edit"></i></a>

                <h6 class="mt-4">Description</h6>
                
                <hr>
            {{task.description}}
        </div>
    </div>
</div> 
</div>    

{% endfor%}


<!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="kt-scrolltop">
	<i class="fa fa-arrow-up"></i>
</div>
<!-- end::Scrolltop -->

<!-- begin:: Demo Toolbar -->
<ul class="kt-sticky-toolbar" style="margin-top: 40px;">
	<li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--demo-toggle" id="kt_demo_panel_toggle" data-toggle="kt-tooltip"  title="Check out more Projects" data-placement="right">
		<a href="#" style="font-size:1em;" class="">Projects</a>
	</li>
	<li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--builder" data-toggle="kt-tooltip" title="Layout Builder" data-placement="left">
        		<a href="../../builder.html" ><i class="flaticon2-box"></i></a>
	</li>
	<li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--docs" data-toggle="kt-tooltip" title="Documentation" data-placement="left">
		<a href="https://keenthemes.com/keen/?page=docs" target="_blank"><i class="flaticon2-file"></i></a>
	</li>
</ul>
<!-- end:: Demo Toolbar -->	    

<script>

      var form_fields = document.getElementsByTagName('input')
      form_fields[1].placeholder='Add a new task...';


      for (var field in form_fields){
          form_fields[field].className += ' form-control'
      }
   
  </script>


{% endblock content %}